.addContainer{
    margin-top: 80px;
    height: 87.6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: silver;
}

.addForm{
    width: 200px;
    height: 350px;
    padding: 20px;
    background: tomato;
    margin-top: 130px;
}

.addButton{
    width: 100%;
}

.addInput{
    width: 100%;
}